<h1>Select your candidate</h1>
<br />
<h3 style="text-align: justify">Choose the person who you think has the greatest impact on the tech industry.
  Follow the link to see the detailed list of voting participants - <a href="/candidate">Candidates</a>.
</h3>
<br/>
<br/>
<form action="/vote" method="POST">
  {{#each data}}
    <div class="vote">
      <input type="radio" name="vote" value="{{_id}}"} required/>
      <h2>{{fullName}}</h2>
    </div>
  {{/each}}
  <div id="vote-block">
    <input type="submit" value="Vote"/>
  </div>
</form>